.page{
    /* margin-left: 620px; */
    margin-top: 143px;
}
.sideheading{
    color:white;
    margin-bottom:15px;
    
}

.sideheading input{
    margin-left: 25px;

}

.sideheading select{
    margin-left: 25px;
    border-radius: 7px;
    color:white;
    background-color: #515151;
    border:1px solid #515151;
}

.page input{
    border-radius: 7px;
    color:white;
    background-color: #515151;
    border:1px solid #515151;
}